.project {
  width: 100%;
  /* height: calc(100vh - 10px); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #3e497a;
  font-size: 35px;
  padding-top: 36px;
}

@media screen and (max-width: 600px) { 
.img {
  width: 340px;
  border-radius: 7px;
}
.skills {
  font-size: 26px;
  color: #3e497a;
  /* padding: 0px 20px; */
}
.childId {
  padding-left: 24px;
}
.login {
  margin: 10px 70px;
}
}

@media screen and (min-device-width: 600px) and (max-device-width: 800px) { 
  .img {
    width: 500px;
    border-radius: 9px;
  }
  .login {
    margin: 10px 170px;
  }
}

@media only screen and (min-width: 800px) {
  .img {
    width: 700px;
    border-radius: 10px;
  }
  .skills {
    font-size: 40px;
    color: #3e497a;
    margin: 0px 0px;
  }
  .login {
    margin: 10px 190px;
  }
}

.skills {
  color: #3e497a;
}


.projectlink {
  margin-top: 4px;
  /* margin-bottom: 2px; */
  /* color: rgb(0, 130, 153); */
  color: #3e497a;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
}

.projectDetails {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keys {
  color: #3e497a;
  font-weight: 500;
}

.childId {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding-left: 24px;
}
